  html {
  background-color: #919cd0;
  color: #3a488c;

  }


body {
  margin: 0;
  font-family: Arial,sans-serif;
  font-size: 1rem;
}
  h1 {
  background-color: #261647;
  color: #cfd4ec;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

header {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #261647;
  color: blue;
  text-decoration: none;

}

  h2 {
  color: #cfd4ec;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
}

  p {
  font-style: normal;
  font-size: 1rem;
  text-align:left; /* left, center, right, justify*/
  font-family: Georgia,serif;
}
ol {
  list-style-type: none;

  padding: 1rem;
}
a {
  color: lightblue;
}

a:hover {
  color: limegreen;

}

ul {
    list-style-type: lower-roman;
}

b {
  color: #cfd4ec;
  font-weight: normal;
}

pre {
  font-size: 1.5rem;
  font-family: Georgia, serif;
}
figure {
  text-align: right;

dl {
  font-weight: bold;
}
figcaption{
  font-size: .5rem;
}
}
dt{
  font-weight: bold;
}

nav a {
  display: inline-block;
  background-color: grey;
  padding: 0.5em 0.75em;
  color: #cfd4ec;
  border-radius: 10px;
}

nav li {
  display: inline;
}

footer {
display: block;
padding: 0.5em 0.75em;
background-color: #261647;
color: #cfd4ec;
text-decoration: none;
text-position: center;
}

h2 a {
  text-position: center;
}
